@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400');
.container{
  margin-top: 8%;
  padding: 0;
}
.inner{
  overflow: hidden;
}
.inner img{
  transition: all 1.5s ease;
}
.inner:hover img{
  transform: scale(1.5);
}